<div
  class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 z-50"
  *ngIf="isVisible"
>
  <div class="bg-white rounded-lg shadow-lg p-6 w-11/12 max-w-md">
    <div #modalContent class="flex flex-col gap-2 mt-5 mb-4">
      <h2 class="text-lg font-semibold text-center">Registration Completed</h2>
      <p class="text-center">Your unique code is</p>
      <p
        class="text-center text-red-600 font-bold text-3xl uppercase mb-6 spacing"
      >
        {{ uniqueCode }}
      </p>
    </div>
    <div class="flex flex-col gap-4">
      <button
        class="w-full text-white font-medium p-2 rounded-lg bg-red-600 hover:bg-orange-600"
        (click)="saveAsImage()"
      >
        Save as Image
      </button>
      <button
        class="w-full text-red-600 font-medium hover:text-orange-600"
        (click)="closeModal()"
      >
        Back to Home
      </button>
    </div>
  </div>
</div>
